* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.StartContainer {
    color: white;
    display: flex;
    border: 2px solid blue;
}

.First-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    width: 50%;
}

.nameof {
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

.First-section>img {
    padding: 15px;
    width: 500px;
    margin-left: 50px;
}

.First-section>p {
    margin-left: 20px;
    text-align: center;
    width: 650px;
    font-size: 23px;
}

.secondSection {
    border: 2px solid blue;
    font-size: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.btstart {
    color: white;
    border: 1.5px solid white;
    background-color: black;
    padding: 15px;
    width: 300px;
    font-size: 20px;
    border-radius: 10px;
}

.btstart:hover {
    background-color: rgb(193, 196, 174);
    color: black;
}

.main-section{
    border: 2px solid red;
    /* height:700px; */
    padding: 50px;
}
.location{
    border: 2px solid red;
    height:700px;
    padding: 50px;
}
.CurrentLocation{
    font-size: 40px;
    margin-left: 410px;
    padding: 20px;
}
.title{
    padding: 20px;
    margin-left: 20px;
    border: 2px solid red;
}
.Header{
    display: flex;
    gap: 200px;
    justify-content: start;
    font-size: 20px;
}